# User access

### Access Type

In [2]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("User_Access_Edit_and_Deletion.csv")

# data distribution
print("Data distribution for access type:")
value_counts = dataframe['Access Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Access Type'])]

value_counts = df_deduplicated['Access Type'].value_counts()
print(value_counts)

Data distribution for access type:
Access Type
Edit information            380
View                        118
Delete account (partial)     73
Other                        68
Unspecified                  44
Delete account (full)        34
Deactivate account           19
Export                        1
Name: count, dtype: int64
228



Access Type
Edit information            147
View                         65
Other                        58
Delete account (partial)     50
Unspecified                  27
Delete account (full)        24
Deactivate account           13
Export                        1
Name: count, dtype: int64

In [3]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Access Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Access Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 264
Number of rows where column_a has different values in column_b:
267

Rows where column_a has different values in column_b:

In [4]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Access Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Access Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 393
Rows duplicated in A but with different values in B: 264
number of rows just with duplicated segment is
269
number of rows with one value:
124
number of rows that will have more than value:
104
(393, 6)

### Access Scope

In [5]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("User_Access_Edit_and_Deletion.csv")

# data distribution
print("Data distribution for access type:")
value_counts = dataframe['Access Scope'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Access Scope'])]

value_counts = df_deduplicated['Access Scope'].value_counts()
print(value_counts)

Data distribution for access type:
Access Scope
User account data        300
Unspecified              247
Profile data              70
Other data about user     51
Other                     49
Transactional data        29
Name: count, dtype: int64
228



Access Scope
User account data        132
Unspecified              121
Profile data              45
Other                     41
Other data about user     39
Transactional data        18
Name: count, dtype: int64

In [6]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Access Scope'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Access Scope'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 283
Number of rows where column_a has different values in column_b:
283

Rows where column_a has different values in column_b:

In [7]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Access Scope'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Access Scope'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 396
Rows duplicated in A but with different values in B: 283
number of rows just with duplicated segment is
283
number of rows with one value:
113
number of rows that will have more than value:
115
(396, 6)

# User Choice

### Choice Type

In [ ]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("User_Choice_or_Control.csv")

# data distribution
print("Data distribution for choice type:")
value_counts = dataframe['Choice Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Choice Type'])]

value_counts = df_deduplicated['Choice Type'].value_counts()
print(value_counts)

Data distribution for choice type:
Choice Type
Opt-out link                       305
Opt-out via contacting company     276
Browser/device privacy controls    254
Opt-in                             251
Unspecified                        186
First-party privacy controls       152
Dont use service/feature           149
Other                              130
Third-party privacy controls        86
Name: count, dtype: int64
624



Choice Type
Opt-out link                       145
Opt-in                             138
Opt-out via contacting company     124
Unspecified                        119
Browser/device privacy controls    100
Other                               99
Dont use service/feature            85
First-party privacy controls        76
Third-party privacy controls        54
Name: count, dtype: int64

In [ ]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Choice Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Choice Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 535
Number of rows where column_a has different values in column_b:
535

Rows where column_a has different values in column_b:

In [ ]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Choice Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Choice Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 940
Rows duplicated in A but with different values in B: 535
number of rows just with duplicated segment is
535
number of rows with one value:
405
number of rows that will have more than value:
219
(940, 6)

### Choice Scope

In [ ]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("User_Choice_or_Control.csv")

# data distribution
print("Data distribution for choice Scope:")
value_counts = dataframe['Choice Scope'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Choice Scope'])]

value_counts = df_deduplicated['Choice Scope'].value_counts()
print(value_counts)

Data distribution for choice Scope:
Choice Scope
First party use                   639
Unspecified                       420
Third party sharing/collection    301
First party collection            292
Third party use                   137
Name: count, dtype: int64
624



Choice Scope
First party use                   278
Unspecified                       245
First party collection            172
Third party sharing/collection    156
Third party use                    81
Name: count, dtype: int64

In [ ]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Choice Scope'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Choice Scope'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 545
Number of rows where column_a has different values in column_b:
545

Rows where column_a has different values in column_b:

In [ ]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Choice Scope'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Choice Scope'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(schocubset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 932
Rows duplicated in A but with different values in B: 545
number of rows just with duplicated segment is
545
number of rows with one value:
387
number of rows that will have more than value:
237
(932, 6)