# first party

### Collection Mode

In [2]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("First_Party_Collection_or_Use.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Collection Mode'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Collection Mode'])]

value_counts = df_deduplicated['Collection Mode'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Collection Mode
Unspecified     2438
not-selected    2358
Implicit        2257
Explicit        1882
Name: count, dtype: int64
1495



Collection Mode
not-selected    814
Unspecified     751
Implicit        530
Explicit        514
Name: count, dtype: int64

In [4]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Collection Mode'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Collection Mode'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 2017
Number of rows where column_a has different values in column_b:
2017

Rows where column_a has different values in column_b:

In [5]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Collection Mode'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Collection Mode'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 2609
Rows duplicated in A but with different values in B: 2017
number of rows just with duplicated segment is
2017
number of rows with one value:
592
number of rows that will have more than value:
903
(2609, 7)

### Personal Information Type

In [8]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("First_Party_Collection_or_Use.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Personal Information Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Personal Information Type'])]

value_counts = df_deduplicated['Personal Information Type'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Personal Information Type
Unspecified                      1919
Generic personal information     1136
Cookies and tracking elements    1115
Contact                          1019
User online activities            776
IP address and device IDs         608
Computer information              460
Location                          403
Demographic                       368
Financial                         336
Other                             308
User profile                      171
Personal identifier                88
Health                             87
Social media data                  77
Survey data                        64
Name: count, dtype: int64
1495



Personal Information Type
Unspecified                      679
Generic personal information     444
Contact                          364
User online activities           308
Cookies and tracking elements    306
Other                            197
IP address and device IDs        180
Computer information             154
Location                         149
Demographic                      142
Financial                        113
User profile                     108
Survey data                       41
Social media data                 40
Personal identifier               40
Health                            35
Name: count, dtype: int64

In [9]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 2633
Number of rows where column_a has different values in column_b:
2633

Rows where column_a has different values in column_b:

In [10]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Personal Information Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 3300
Rows duplicated in A but with different values in B: 2633
number of rows just with duplicated segment is
2633
number of rows with one value:
667
number of rows that will have more than value:
828
(3300, 7)

### Purpose

In [14]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("First_Party_Collection_or_Use.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Purpose'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Purpose'])]

value_counts = df_deduplicated['Purpose'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Purpose
Unspecified                       2572
Basic service/feature             1313
Analytics/Research                1221
Additional service/feature         930
Personalization/Customization      704
Marketing                          626
Advertising                        625
Service Operation and Security     570
Other                              251
Legal requirement                  114
Merger/Acquisition                   9
Name: count, dtype: int64
1495



Purpose
Unspecified                       677
Basic service/feature             482
Additional service/feature        402
Analytics/Research                373
Personalization/Customization     274
Marketing                         266
Service Operation and Security    241
Advertising                       219
Other                             176
Legal requirement                  59
Merger/Acquisition                  8
Name: count, dtype: int64

In [15]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Purpose'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Purpose'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 2526
Number of rows where column_a has different values in column_b:
2526

Rows where column_a has different values in column_b:

In [16]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Purpose'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Purpose'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 3177
Rows duplicated in A but with different values in B: 2526
number of rows just with duplicated segment is
2526
number of rows with one value:
651
number of rows that will have more than value:
844
(3177, 7)

# Third Party

### Purpose

In [17]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Third_Party_Sharing_or_Collection.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Purpose'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Purpose'])]

value_counts = df_deduplicated['Purpose'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Purpose
Unspecified                       1311
Advertising                        823
Basic service/feature              524
Service operation and security     429
Legal requirement                  416
Additional service/feature         413
Marketing                          398
Analytics/Research                 390
Merger/Acquisition                 245
Other                              190
Personalization/Customization       82
Name: count, dtype: int64
1173



Purpose
Unspecified                       537
Advertising                       259
Basic service/feature             234
Additional service/feature        226
Marketing                         191
Service operation and security    190
Analytics/Research                162
Legal requirement                 141
Other                             135
Merger/Acquisition                 74
Personalization/Customization      54
Name: count, dtype: int64

In [18]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Purpose'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Purpose'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 1617
Number of rows where column_a has different values in column_b:
1617

Rows where column_a has different values in column_b:

In [19]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Purpose'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Purpose'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 2203
Rows duplicated in A but with different values in B: 1617
number of rows just with duplicated segment is
1617
number of rows with one value:
586
number of rows that will have more than value:
587
(2203, 7)

### Presonal Information Type

In [20]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Third_Party_Sharing_or_Collection.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Personal Information Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Personal Information Type'])]

value_counts = df_deduplicated['Personal Information Type'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Personal Information Type
Unspecified                      1624
Generic personal information     1349
Cookies and tracking elements     439
User online activities            394
Contact                           330
Other                             202
IP address and device IDs         151
Financial                         143
Health                            134
Computer information              120
User Profile                      112
Location                           82
Demographic                        80
Personal identifier                33
Survey data                        28
Name: count, dtype: int64
1173



Personal Information Type
Unspecified                      600
Generic personal information     481
User online activities           187
Cookies and tracking elements    168
Contact                          153
Other                            126
User Profile                      73
Financial                         66
IP address and device IDs         59
Computer information              46
Location                          44
Health                            44
Demographic                       39
Personal identifier               16
Survey data                       11
Name: count, dtype: int64

In [21]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 1527
Number of rows where column_a has different values in column_b:
1527

Rows where column_a has different values in column_b:

In [22]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Personal Information Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 2113
Rows duplicated in A but with different values in B: 1527
number of rows just with duplicated segment is
1527
number of rows with one value:
586
number of rows that will have more than value:
587
(2113, 7)

### Action Third Party

In [23]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Third_Party_Sharing_or_Collection.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Action Third Party'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Action Third Party'])]

value_counts = df_deduplicated['Action Third Party'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Action Third Party
Receive/Shared with                   3476
Track on first party website/app       446
Collect on first party website/app     424
Unspecified                            362
Other                                  331
See                                    182
Name: count, dtype: int64
1173



Action Third Party
Receive/Shared with                   815
Unspecified                           211
Collect on first party website/app    187
Other                                 183
Track on first party website/app      160
See                                    84
Name: count, dtype: int64

In [24]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Action Third Party'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Action Third Party'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 840
Number of rows where column_a has different values in column_b:
840

Rows where column_a has different values in column_b:

In [25]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Action Third Party'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Action Third Party'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 1640
Rows duplicated in A but with different values in B: 840
number of rows just with duplicated segment is
840
number of rows with one value:
800
number of rows that will have more than value:
373
(1640, 7)

# Data Retention

### Personal Information Type

In [26]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Data_Retention.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Personal Information Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Personal Information Type'])]

value_counts = df_deduplicated['Personal Information Type'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Personal Information Type
Unspecified                      113
Generic personal information      75
Contact                           34
Other                             31
Cookies and tracking elements     24
IP address and device IDs         24
User online activities            21
User profile                      16
Financial                         13
Computer information               5
Location                           4
Personal identifier                4
Social media data                  2
Demographic                        2
Survey data                        1
Health                             1
Name: count, dtype: int64
156



Personal Information Type
Unspecified                      58
Generic personal information     46
Contact                          26
Other                            25
User online activities           15
Cookies and tracking elements    12
User profile                     11
IP address and device IDs        10
Financial                         9
Computer information              5
Personal identifier               4
Location                          2
Social media data                 2
Demographic                       1
Survey data                       1
Health                            1
Name: count, dtype: int64

In [27]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 126
Number of rows where column_a has different values in column_b:
126

Rows where column_a has different values in column_b:

In [28]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Personal Information Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Personal Information Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 228
Rows duplicated in A but with different values in B: 126
number of rows just with duplicated segment is
126
number of rows with one value:
102
number of rows that will have more than value:
54
(228, 7)

### Retention Purpose

In [32]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Data_Retention.csv")
print(dataframe.shape)

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Retention Purpose'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Retention Purpose'])]

value_counts = df_deduplicated['Retention Purpose'].value_counts()
print(value_counts)

(370, 7)
Data distribution for Collection Mode:
Retention Purpose
Unspecified                       130
Perform service                    94
Legal requirement                  47
Service operation and security     40
Other                              29
Analytics/Research                 20
Marketing                           6
Advertising                         4
Name: count, dtype: int64
156



Retention Purpose
Unspecified                       74
Perform service                   67
Legal requirement                 27
Service operation and security    27
Other                             24
Analytics/Research                14
Marketing                          5
Advertising                        4
Name: count, dtype: int64

In [30]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Retention Purpose'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Retention Purpose'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 139
Number of rows where column_a has different values in column_b:
139

Rows where column_a has different values in column_b:

In [31]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Retention Purpose'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Retention Purpose'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 242
Rows duplicated in A but with different values in B: 139
number of rows just with duplicated segment is
139
number of rows with one value:
103
number of rows that will have more than value:
53
(242, 7)

### Retention Period

In [33]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Data_Retention.csv")

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Retention Period'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Retention Period'])]

value_counts = df_deduplicated['Retention Period'].value_counts()
print(value_counts)

Data distribution for Collection Mode:
Retention Period
Unspecified      170
Limited          102
Stated Period     41
Indefinitely      32
Other             25
Name: count, dtype: int64
156



Retention Period
Unspecified      97
Limited          52
Other            21
Stated Period    20
Indefinitely     17
Name: count, dtype: int64

In [34]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Retention Period'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Retention Period'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 91
Number of rows where column_a has different values in column_b:
91

Rows where column_a has different values in column_b:

In [35]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Retention Period'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Retention Period'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 207
Rows duplicated in A but with different values in B: 91
number of rows just with duplicated segment is
91
number of rows with one value:
116
number of rows that will have more than value:
40
(207, 7)

# Policy Change

### User Choice

In [37]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Policy_Change.csv")
print(dataframe.shape)

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['User Choice'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'User Choice'])]

value_counts = df_deduplicated['User Choice'].value_counts()
print(value_counts)

(548, 7)
Data distribution for Collection Mode:
User Choice
Unspecified           392
User participation     39
Opt-in                 24
Opt-out                12
Other                  12
Name: count, dtype: int64
189



User Choice
Unspecified           159
User participation     32
Opt-in                 12
Other                   9
Opt-out                 6
Name: count, dtype: int64

In [38]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['User Choice'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['User Choice'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 70
Number of rows where column_a has different values in column_b:
87

Rows where column_a has different values in column_b:

In [39]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'User Choice'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['User Choice'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 262
Rows duplicated in A but with different values in B: 70
number of rows just with duplicated segment is
123
number of rows with one value:
139
number of rows that will have more than value:
50
(262, 7)

### Change Type

In [41]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Policy_Change.csv")
print(dataframe.shape)

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Change Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Change Type'])]

value_counts = df_deduplicated['Change Type'].value_counts()
print(value_counts)

(548, 7)
Data distribution for Collection Mode:
Change Type
Unspecified                         280
Privacy relevant change             217
Non-privacy relevant change          22
In case of merger or acquisition     15
Other                                14
Name: count, dtype: int64
189



Change Type
Unspecified                         140
Privacy relevant change              83
Non-privacy relevant change          18
Other                                13
In case of merger or acquisition     11
Name: count, dtype: int64

In [42]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Change Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Change Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 140
Number of rows where column_a has different values in column_b:
140

Rows where column_a has different values in column_b:

In [43]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Change Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Change Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 265
Rows duplicated in A but with different values in B: 140
number of rows just with duplicated segment is
140
number of rows with one value:
125
number of rows that will have more than value:
64
(265, 7)

### Notification Type

In [44]:
import numpy as np
import pandas as pd
dataframe = pd.read_csv("Policy_Change.csv")
print(dataframe.shape)

# data distribution
print("Data distribution for Collection Mode:")
value_counts = dataframe['Notification Type'].value_counts()
duplicates_across_a = dataframe['segment'].nunique()
print(value_counts)
print(duplicates_across_a)
print("\n\n")
df_deduplicated = dataframe[~dataframe.duplicated(subset=['segment', 'Notification Type'])]

value_counts = df_deduplicated['Notification Type'].value_counts()
print(value_counts)

(548, 7)
Data distribution for Collection Mode:
Notification Type
General notice in privacy policy    174
General notice on website           118
Unspecified                         104
Personal notice                     101
Other                                29
No notification                      22
Name: count, dtype: int64
189



Notification Type
General notice in privacy policy    105
Unspecified                          74
General notice on website            58
Personal notice                      49
Other                                26
No notification                      16
Name: count, dtype: int64

In [45]:
# does multilabel apply?
duplicates_across_a = df_deduplicated.groupby('segment')['Notification Type'].nunique()
count = duplicates_across_a[duplicates_across_a > 1].sum()

print(f"Number of rows duplicated across column_a but with different values in column_b: {count}")


# Count unique values of column_b for each value in column_a
unique_count = df_deduplicated.groupby('segment')['Notification Type'].nunique()

# Filter to find values in column_a with more than one unique column_b value
multiple_b = unique_count[unique_count > 1]

# Rows corresponding to these values in column_a
rows_with_multiple_b = df_deduplicated[df_deduplicated['segment'].isin(multiple_b.index)]

print("Number of rows where column_a has different values in column_b:")
print(len(rows_with_multiple_b))

print("\nRows where column_a has different values in column_b:")
# rows_with_multiple_b.head(20)

Number of rows duplicated across column_a but with different values in column_b: 234
Number of rows where column_a has different values in column_b:
234

Rows where column_a has different values in column_b:

In [46]:
# 1. Count rows duplicated across columns A and B
duplicates_ab = df_deduplicated.duplicated(subset=['segment', 'Notification Type'], keep=False).sum()

# 2. Count rows unique across columns A and B
unique_ab = len(df_deduplicated) - duplicates_ab

# 3. Count rows where A is duplicated but has different values in B
a_groups = df_deduplicated.groupby('segment')['Notification Type'].nunique()
duplicates_a_diff_b = a_groups[a_groups > 1].sum()

df_repeated_seg = df_deduplicated[df_deduplicated.duplicated(subset=['segment'], keep=False)]
repeated_seg= df_deduplicated.duplicated(subset=['segment'], keep=False).sum()
unique_values_in_A = df_repeated_seg['segment'].nunique()


print(f"Rows duplicated across A and B: {duplicates_ab}")
print(f"Rows unique across A and B: {unique_ab}")
print(f"Rows duplicated in A but with different values in B: {duplicates_a_diff_b}")
print("number of rows just with duplicated segment is")
print(repeated_seg)
print("number of rows with one value:")
print( (len(df_deduplicated) - repeated_seg))
print("number of rows that will have more than value:")
print(unique_values_in_A)
print(df_deduplicated.shape)

Rows duplicated across A and B: 0
Rows unique across A and B: 328
Rows duplicated in A but with different values in B: 234
number of rows just with duplicated segment is
234
number of rows with one value:
94
number of rows that will have more than value:
95
(328, 7)